:root {
  /* css variables for colors */
  --light: rgb(171, 164, 219);
  --dark: rgb(27, 17, 109);
  --mid: rgb(65, 57, 130);
  --outline: rgb(170, 93, 42);
  --main-background: rgba(201, 194, 248, 0.801);
}

/* set body as big grid */
body {
  background-color: var(--main-background);
  display: grid;
  grid-template-columns: 5fr 1fr 6fr 6fr;
  grid-template-rows: 1fr 2fr 2fr 3fr 1fr 1fr 2fr;
  /* map page elements to full page grid location */
  grid-template-areas:
    "header     header     header          header"
    "banner     banner     banner             banner"
    "aboutTitle   gutter    aboutText        aboutText"
    "workTitle   gutter     workPicLink      workPicLink"
    ".........    gutter     workPicLink2   workPicLink3"
    ".........    gutter     workPicLink4   workPicLink5"
    "contactTitle gutter    phoneEmail      socialMedia"
  ;
}

/* set flexbox for all structure elements */
header,
h1,
nav,
.hero-banner,
.heading,
#about,
#work,
#contactMe {
  display: flex;
}

/* Font sizes and colors */
h1 {
  font-size: 2rem;
  color: var(--dark);
}

/* separate name from nav items */
header {
  align-items: flex-end;
  justify-content: space-between;
  grid-area: header;
  background-color: #555;
  border: 1px solid black;

}

.myName {
  border: 1px solid black;
  grid-area: 1 / 1 / span 2 / span 1;

}

header nav {
  justify-content: space-evenly;
  grid-area: 1 / 1 / span1 / span 2;
  z-index: 1;
  border: 1px solid black;
  justify-self: flex-end;
}

.hero-banner {
  grid-area: banner;
  border: 1px solid black;
}

#about {
  justify-content: space-between;
  border: 1px solid black;
}

#aboutMe {
  grid-area: aboutTitle;
  border: 1px solid black;
}

#aboutText {
  grid-area: aboutText;
  border: 1px solid black;
}

#workTitle {
  grid-area: workTitle;
  border: 1px solid black;
}

#workPicLink {
  grid-area: workPicLink;
  border: 1px solid black;
}

#workPicLink2 {
  grid-area: workPicLink2;
  border: 1px solid black;
}

#workPicLink3 {
  grid-area: workPicLink3;
  border: 1px solid black;
}

#workPicLink4 {
  grid-area: workPicLink4;
  border: 1px solid black;
}

#workPicLink5 {
  grid-area: workPicLink5;
  border: 1px solid black;
}

#contactMe {
  grid-area: contact;
  border: 1px solid black;
}